.cartSection {
  max-width: 1440px;
  margin: 20px auto 20px auto;
  padding: 0 4vw;
}

.cartSection header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cartSection h1 {
  font-size: 36px;
  margin-top: 30px;
}

.cartDetails {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.cartSummary {
  padding: 20px;
  position: sticky;
  top: 110px;
  width: 400px;
  max-width: 400px;
  border: 1px solid var(--border-primary);
  border-radius: 20px;
  height: max-content;
}

.cartSummary hr {
  width: 100%;
  border: none;
  height: 1px;
  margin-block: 15px;
  background: var(--border-primary);
}

.cartSummary h2 {
  margin-bottom: 20px;
}

.summaryRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--text-secondary);
}

.summaryRow.primary {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-primary);
}

.cartSummary button {
  width: 100% !important;
}

.cartList {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.cartList > a {
  margin-top: 0;
}

/* EMPTY STATE */
.cartEmpty {
  margin-top: 20px;
  background: var(--surface-secondary);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.cartEmpty h2 {
  font-size: 28px;
  margin-block: 0 10px;
}

.cartEmpty p {
  max-width: 500px;
  text-wrap: balance;
}