.productCard {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-radius: 20px;
  overflow: hidden;
  gap: 5px;
  transition: var(--dynamic-transition);
}

.productCard:hover {
  box-shadow: 0 10px 15px #90979b88;
}

.productCard .image {
  position: relative;
  width: 100%;
  height: 300px;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-bottom: 1px solid var(--border-primary);
}

.productCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  transition: var(--dynamic-transition);
}

.productCard:hover img {
  transform: scale(1.1);
}

.productCard .image .category {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 5px;
  background: var(--text-primary);
  color: var(--surface-primary);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5;
}

.productCard .info {
  padding: 10px;
}

.productCard .itemStock {
  font-size: 14px;
  color: var(--text-secondary);
}

.productCard h3 {
  font-size: 18px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.productCard h4 {
  font-size: 26px;
  font-weight: 300;
}

/* CART VARIANT */
.productCard.cart {
  flex-direction: row;
  height: 150px;
}

.productCard.cart .image {
  width: 200px;
  height: 150px;
  place-items: end;
  border-bottom: 0;
  border-right: 1px solid var(--border-primary);
}

.productCard.cart .info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productCard.cart .image .category {
  left: 10px;
  right: auto;
}

.productCard.cart .itemHead {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.productCard.cart .itemHead > span:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

.productCard.cart .itemHead > span:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.productCard.cart .itemCta {
  display: flex;
  margin-top: -5px;
}

.productCard.cart .itemCta > * {
  display: flex;
  width: max-content;
}