.buttonComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-inline: 30px;
  background: var(--color-primary);
  color: var(--surface-primary);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  letter-spacing: .25px;
  margin-top: 10px;
  transition: var(--dynamic-transition);
}

.buttonComponent span {
  width: max-content;
  text-align: left;
}

.buttonComponent svg {
  transition: var(--dynamic-transition);
  width: 24px;
}

.buttonComponent path {
  transition: var(--dynamic-transition);
  stroke: var(--surface-primary);
  stroke-width: 1.5;
}

.buttonComponent:hover {
  background: var(--hover-primary);
}

.buttonComponent:active {
  transform: scale(.9);
}

/* LARGE BUTTON */
.buttonComponent.large {
  width: max-content;
  height: 50px;
  padding-inline: 30px !important;
  margin-top: 15px;
  font-size: 18px;
  gap: 15px;
}

.buttonComponent svg {
  transition: var(--dynamic-transition);
  width: 28px;
  height: 28px;
}


/* SECONDARY BUTTON */
.buttonComponent.secondary {
  background: none;
  width: max-content;
  padding-inline: 15px;
  gap: 5px;
  color: var(--text-primary);
}

.buttonComponent.secondary path {
  stroke: var(--text-primary);
}

.buttonComponent.secondary:hover {
  color: var(--color-primary);
}

.buttonComponent.secondary:hover path {
  stroke: var(--color-primary);
}


/* DISABLED STATE */
.buttonComponent:disabled {
  background: #9EA6AC;
  color: var(--text-primary);
  cursor: not-allowed;
}

.buttonComponent:disabled path {
  stroke: var(--text-primary);
}

.buttonComponent:disabled > * {
  opacity: .7;
}

.buttonComponent:disabled:active {
  transform: none;
}

/* COMPLETED STATE */
.buttonComponent.completed {
  background: var(--text-primary);
}