.buttonComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--color-primary);
  color: var(--surface-primary);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  letter-spacing: .25px;
  margin-top: 10px;
  transition: var(--dynamic-transition);
}

.buttonComponent span {
  width: 100%;
  text-align: center;
}

.buttonComponent svg {
  transition: var(--dynamic-fast-transition);
  width: 24px;
}

.buttonComponent path {
  stroke: var(--surface-primary);
  stroke-width: 1.5;
}

.buttonComponent:hover {
  background: var(--hover-primary);
}

.buttonComponent:active {
  transform: scale(.9);
}

/* LARGE BUTTON */
.buttonComponent.large {
  height: 50px;
  padding-inline: 30px !important;
  margin-top: 15px;
  font-size: 18px;
}

.buttonComponent svg {
  transition: var(--dynamic-fast-transition);
  width: 32px;
  height: 32px;
}
