nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background: var(--surface-tertiary);
  top: 10px;
  width: calc(100% - 8vw - 20px);
  margin: 10px 10px 0 10px;
  padding-inline: 4vw;
  height: 50px;
  align-items: center;
  padding-block: 15px;
  border-radius: 20px;
  z-index: 100;
}

.navLeft,
.navCenter,
.navRight {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLeft,
.navRight {
  width: 100%;
}

.navLeft {
  gap: 20px;
}

.navRight {
  justify-content: end;
  gap: 10px;
}

.navLink {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .25px;
  gap: 10px;
  color: var(--surface-secondary);
  transition: var(--dynamic-fast-transition);
  opacity: .75;
}

.navLink:hover:not(.active) {
  background: var(--surface-fourth);
}

.navLink:active {
  transform: scale(.9);
}

.navLink.active {
  opacity: 1;
  font-weight: 700;
  pointer-events: none;
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  border-radius: 3px;
  background: var(--surface-secondary);
  transition: var(--dynamic-transition);
}

.navLink.active::before {
  width: 50%;
}