#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4vw;
}

* {
  /* COLORS */
  --color-primary: #0E70B6;
  --surface-primary: #E6F1F8;
  --surface-secondary: #DAE3E8;
  --text-primary: #0F0A0A;
  /* TRANSITIONS */
  --transition: .15s ease;
  --transition-low: .3s ease;
  --dynamic-fast-transition: .15s cubic-bezier(0.215, 0.610, 0.355, 1);
  --dynamic-transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* RESET */
body {
  font-family: 'Figtree', sans-serif;
  box-sizing: border-box;
  background: var(--surface-primary);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
}

button:active {
  transform: scale(1.1);
}

input,
textarea {
  cursor: auto;
}

p {
  font-size: 16px;
  font-weight: var(--paragraph-weight);
  line-height: 150%;
}

h1 {
  width: 100%;
  margin-top: 50px;
}

button {
  transition: var(--dynamic-fast-transition);
}